body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.mainbutton{
    background-color: rgb(43, 148, 43);
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    
    
}
.mainbutton:hover{
    cursor: pointer;
    box-shadow: 1px 1px rgb(66, 85, 66);
    transform: scale(1.1);
    
}